.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: inline-block;
}

.card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}